*.env
config/DBconfig.go
txts/
commands_for_db.txt
oldtables.txt
img/avatars/*
docker.sh
*.out
*.tmp
_oldtests/
cover.out*
./auth
./orders
perf_test/*.json
perf_test/*.html
perf_test/*.bin
perf_test/apiRequests
perf_test/*.txt
_postgres/logs
_postgres/reports
/mail
/auth
/orders
